extends layout

block content
  #content
    h2= error.status + " - Nicht gefunden"
    p Die angeforderte Seite lieferte einen Fehler zurück. Bei Problemen nutze diese Fehlerbeschreibung:
    pre #{error.stack}
