extends layout

block content
  #navigation
    .left
      .icon.home
      .icon.photos
      .icon.albums
    .right
      .searchbar
        input
        .icon.search
  #content
    .intro
      | Letzte Alben
      a.more Mehr anzeigen
    #albums.elements
    .intro
      | Letzte Fotos
      a.more Mehr anzeigen
    #photos.elements
  #OpenUploader.icon.upload.context
  #uploader
    h1 Hochladen
    form(id='UploadForm', method='post', action='/upload', encType="multipart/form-data")
      input#album_create(type='checkbox', name='AlbumCreate')
      |  Album aus Fotos erstellen
      br
      input#album_name(type='text', placeholder='Name des Albums', name='AlbumName')
      hr
      span#AddUploadElement Neues Element erstellen
      span#StartUpload Hochladen
      .upload_element
        span.remove Entfernen
        br
        input(type='text', placeholder='Name des Fotos', name='Upload_Name1')
        br
        input(type='text', placeholder='Beschreibung (optional)', name='Upload_Desc1')
        br
        input(type='file', name='Upload_File1')
        br
