body {
  padding: 0;
  margin: 0;
  background-color: #262626;
  font-family: 'Lucida Sans';
  color: #606060;
  height: 100%;
}

#navigation {
  padding: 0 40px 0 40px;
  height: 70px;
  background-color: #373737;
  display: flex;
}

#navigation .left {
  display: flex;
}

#navigation .right {
  display: flex;
}

#navigation .searchbar * {
  float: left;
}

#navigation .searchbar input {
  margin-left: 20px;
  margin-top: 20px;
  background: none;
  color: white;
  border: 0px;
  font-size: 20px;
  border-bottom: 1px solid white;
  display: none;
}

.icon {
  margin-top: 10px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  cursor: pointer;
}
.icon.search {
  background-image: url('../icons/search.png');
}
.icon.home {
  background-image: url('../icons/home.png');
}
.icon.photos {
  background-image: url('../icons/photos.png');
}
.icon.albums {
  width: 60px;
  background-image: url('../icons/albums.png');
}
.icon.upload {
  width: 70px;
  background-image: url('../icons/upload.png');
}

.context {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#content {
  margin: 0 60px 0 60px;
}

#content .intro {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 24px;
}

#content .intro .more {
  position: absolute;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  background-color: #606060;
  border-radius: 10px;
  color: #b3b3b3;
  cursor: pointer;
}

#content .elements {
  display: flex;
  flex-flow: row wrap;
}

#content .elements .element {
  width: 150px;
  height: 150px;
  margin: 0 20px 30px 0;
  background-color: grey;
  box-shadow: 5px 10px;
  cursor: pointer;
}

#content .elements .element:hover {
box-shadow: 9px 14px;
}

#uploader {
  display: none;
  color: white;
  background-color: #373737;
  position: fixed;
  top: 0;
  width: 520px;
  height: 100%;
  overflow-y: scroll;
}

#uploader #AddUploadElement {
  background-color: grey;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

#uploader #StartUpload {
  background-color: #ea5300;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

#uploader form, h1 {
  margin-left: 10px;
}

#uploader #album_name {
  display: none;
}

#uploader .upload_element {
  margin-top: 10px;
  width: 300px;
  padding: 5px;
  border-radius: 4px;
  background-color: grey;
  border: 1px solid black;
}

#uploader .upload_element input {
  margin-top: 3px;
}
.upload_element .remove {
  color: white;
  background-color: #5d5a5a;
  padding: 3px;
  cursor: pointer;
}

#uploader input {
  font-size: 14px;
}
